<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:#ADD8E6;">
<form  style="text-align:center;" action="login" method="post">
     {% csrf_token %}
     <input style="background-color:rgba(255, 99, 71, 0.5);" type="text" name="username" placeholder="enter your user name"><br>
     <input style="background-color:hsla(9, 100%, 64%, 0.5);" type="password" name="password" placeholder="enter your password"><br>
     <input style="background-color:#008080;" type="submit">
</form>
</body>
</html>